azure-core==1.30.1
azure-identity==1.15.0
azure-storage-blob==12.19.1
cachetools==5.3.3
fastapi==0.110.1
greenlet==3.0.3
Jinja2==3.1.3
matplotlib==3.7.1
numpy
pandas==1.5.3
pydantic==2.6.4
pydantic_core==2.16.3
pydantic-settings==2.2.1
redis==5.0.4
torchinfo==1.8.0
torchmetrics==1.3.2
torchsummary==1.5.1
torchtext==0.17.1
scikit-learn
SQLAlchemy==2.0.28
starlette==0.37.2
tokenizers==0.15.2
torcheval==0.0.7
transformers==4.39.1
uvicorn==0.29.0
typing_extensions==4.10.0
tqdm==4.66.2
beautifulsoup4==4.12.3
datasets==2.18.0
fastjsonschema==2.19.1
joblib==1.3.2
jsonpickle==3.0.3
jsonschema==4.19.2
asyncpg==0.29.0
gunicorn
aiofiles==23.2.1
aiohttp==3.9.3
aioredis==1.3.1
albumentations==1.4.2
black==24.4.2
CacheControl==0.14.0
catalogue==2.0.10
chardet==5.2.0
charset-normalizer==3.3.2
cloudpickle==2.2.1
cryptography==42.0.5
Flask==2.2.5
gensim==4.3.2
jupyter-black==0.3.4
PyYAML==6.0.1
ruff==0.4.2
annotated-types==0.6.0